{
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "Components": "path.resolve(__dirname, 'src/components/')"
            }
        }]
    ]
}